*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat'; 
}

a{
    text-decoration: none;
}

:root{
    --color-primary: #fff;
}

.container{
    width: clamp(400px,70vw,1300px);
    margin: auto;

}

/*  --------  SECTION PERFIL --------- */


.section1{
    display: flex;
    background-color: #1f1f1f;
    height: 100dvh;
    container-type: inline-size;
    container-name: perfil;
}

.perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil-1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: clamp(200px,400px,600px);
    color: #fafafa;
}

.info{
    display: flex;
    gap: 15px;
}

.perfil-1 a{
    color: #fff;
    width: 100px;
    padding: 17px;
    text-align: center;
    border-radius: 6px;
}

.GitHub{
    background-color: #000;
    transition: all 0.3s ease;
}

.GitHub:hover{
    background-color: #fff;
    color: #000;
}


.Linkedin{
    background-color: #0e76a8;
    transition: all 0.3s ease;
}

.Linkedin:hover{
    background-color: #fff;
    color: #0e76a8;
}

.perfil-2,img{
    width: 400px;
    height: 400px;
    border: 1px solid #fafafa;
}


/* --------- MOVILE --------- */


@container perfil (max-width: 1300px) {

    .perfil {
        flex-direction: column;
        gap: 60px;
  }
  
}


/*  ---------- SECTION PROJECTS ------------  */

.section2{
    background-color: #c6d6d6;
    padding-bottom: 100px;
}

.pro-title{
    font-size: 30px;
    padding: 80px 0;
    text-decoration: underline;
    color: #282832;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    width: clamp(300px,70vw,1400px);
    margin: auto;
    justify-content: center;
}


.project{
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.project a{
    cursor: pointer;
    width: 130px;
    height: 40px;
    margin: 10px 20px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all 0.3s ease;
}

.btn-visit{
    background-color: #294380;
    border: 1px solid #294380;
    color: #fff;
}

.btn-visit:hover{
    background-color: #fff;
    color: #282832;
    border: 1px solid #282832;
}


.btn-code{
    border: 0px solid;
    background-color: #111;
    color: #fff;
}

.btn-code:hover{
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}

.img{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;

}

.img1{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/assets/trabajo1.png');
}

.img2{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/assets/trabajo2.png');
}

.img3{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/assets/trabajo3.png');
}

.img4{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/assets/trabajo4.png');
}

.img5{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/assets/trabajo5.png');
}

/* ------------- SECTION SKILLS -------------- */

.skills{
    margin-block: 130px;
    container-type: inline-size;
    container-name: skills;
}

.skill-title{
    font-size: 30px;
    margin: 14px 0;
    text-decoration: underline;
}

.skills-all{
    padding: 10px 0;
}

.title-skill{
    font-size: 20px;
    padding-bottom: 20px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.language{
    display: flex;
    align-items: center;
    background-color: #ddd;
    padding: 15px;
    border-radius: 10px;
    gap: 8px;
}

.language p{
    font-size: 17px;
    font-weight: 800;
}

.language img{
    width: 40px;
    height: 40px;
    border: 0px;
}


/* --------- MOVILE -------- */

@container skills (max-width: 750px){

    .frontend{

    }
}


/* ---------- SECTION EXPERIENCE ---------- */

.section3{
    background-color: #273142;
    height: 40dvh;
}

.experience{
    color: #fff;
    padding-top: 70px;
}

.experience-title{
    padding-bottom: 40px;
    font-size: 30px;
}

.hidden {
    display: none;
}

.btn2 {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    padding: 10px;
    border: 2px solid #fefefe;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s;
  }
  
.btn2::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #273142;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
.btn2::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #273142;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
.btn2:hover::before {
    transform: translateY(25px);
    height: 0;
  }
  
.btn2:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
  }
  
.btn2:hover {
    border: 2px solid #fefefe;
  }
  
.btn2 span {
    position: relative;
    z-index: 3;
  }
  
button {
    text-decoration: none;
    border: none;
    background-color: transparent;
  }


/* ---------- F00TER ---------- */

footer{
    height: 20dvh;
    color: #fff;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
