@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  background: rgb(9, 25, 53);
  background: radial-gradient(circle at center top, rgba(26, 9, 53, 1) 2%, rgba(9, 5, 18, 1) 15%);
  color: #fff;
}

.text-color {
  color: #9e35f5;
}

.bg-color {
  background-color: #11091a;
}

.underline-color {
  border-color: #9e35f5;
}

.card {
  max-width: 480px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}